<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yearcon.yrcocrmapi.modules.dsb.mapper.VIPInfoDao" >

    <select id="findByUsernameAndDate" resultType="VIPInfo" parameterType="java.lang.String">
        SELECT  t.id,
        t.cardno,
        t.vipname,
        t.sex,
        t.birthday,
        t.integral,
        t.is_verify AS is_verify,
        aa.lastdate AS lastdate,
        t.mobil AS  mobile,
        b.name   AS cardType
        FROM m_retail a, hr_employee hr, c_client_vip t,
        fa_vipacc    aa,
        c_viptype    b
        where
        t.c_viptype_id = b.id
        AND t.id = aa.c_vip_id and hr.id = a.salesrep_id AND t.id=a.c_vip_id
        and  (a.billdate !=  #{nowDate}
        and a.billdate =  #{lastDate} )
        AND a.status = 2 and hr.no=#{username}
    </select>
    
    <select id="findByVipid" resultType="VIPInfo" parameterType="Integer">
        SELECT n.id AS id,
        d.name,
        e.no,
        e.id salesid,
        a.docno,
        a.billdate AS lastdate,
        nvl(a.statustime,sysdate)  statustime,
        n.integral,
        n.mobil AS mobile,
        n.birthday,
        n.cardno,
        n.is_verify,
        n.sex,
        cv.name        AS cardType,
        n.vipname,
        a.tot_amt_actual AS tot_amt_actual,
        listagg(c.no || '(' || regexp_replace(b.value, '[0-9]', '') || ')',
        ',') within GROUP(ORDER BY c.no) AS mptno
        FROM c_client_vip n
        LEFT JOIN c_viptype cv
        ON (n.c_viptype_id = cv.id)
        LEFT JOIN m_retail a ON (a.c_vip_id = n.id AND a.status = 2)
        LEFT JOIN c_store d
        ON (n.c_store_id = d.id)
        LEFT JOIN m_retailitem f
        ON (a.id = f.m_retail_id)
        LEFT JOIN hr_employee e
        ON (a.salesrep_id = e.id)
        LEFT JOIN m_product b
        ON (f.m_product_id = b.id)
        LEFT JOIN m_product_alias c
        ON (f.m_product_id = c.m_product_id AND
        f.m_attributesetinstance_id = c.m_attributesetinstance_id)
        WHERE n.id= #{vipid}
        AND rownum=1
        GROUP BY n.id,
        d.name,
        a.docno,
        a.billdate,
        a.statustime,
        e.no,
        e.id,
        n.birthday,
        n.cardno,
        n.is_verify,
        n.sex,
        n.mobil,
        n.vipname,
        n.integral,
        a.tot_amt_actual,cv.name
        ORDER BY a.billdate DESC
    </select>
    
    <select id="findCostById" resultType="VIPCost" parameterType="Integer">
        SELECT a.c_vip_id AS vipid,
        d.name AS storename,
        e.no AS salesname,
        e.id salesid,
        a.docno,
        a.billdate,
        a.statustime,
        a.tot_amt_actual AS totamtactual,
        listagg(c.no || '(' || regexp_replace(b.value, '[0-9]', '') || ')',
        ',') within GROUP(ORDER BY c.no) AS mptno
        FROM m_retail a
        INNER JOIN c_store d
        ON (a.c_store_id = d.id)
        INNER JOIN m_retailitem f
        ON (a.id = f.m_retail_id)
        LEFT JOIN hr_employee e
        ON (a.salesrep_id = e.id)
        INNER JOIN m_product b
        ON (f.m_product_id = b.id)
        INNER JOIN m_product_alias c
        ON (f.m_product_id = c.m_product_id AND
        f.m_attributesetinstance_id = c.m_attributesetinstance_id)
        LEFT JOIN c_client_vip n
        ON (a.c_vip_id = n.id)
        WHERE a.c_vip_id = #{vipid}
        AND a.status = 2
        GROUP BY a.c_vip_id,
        d.name,
        a.docno,
        a.billdate,
        a.statustime,
        e.no,
        e.id,
        a.integral,
        n.integral,
        a.tot_amt_actual
        ORDER BY a.statustime DESC
    </select>
</mapper>